.container-fluid
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='#')
      | Shoutbux
  #navbar-collapse.collapse.navbar-collapse
    ul.nav.navbar-nav  
      li
        a(href="#timeline") Timeline 
      li
        a(href="#profile") Profile 
      li
        a(href="#discover") Discover 
    ul.nav.navbar-nav.navbar-right
      li
        a.logout(href="#logout") Logout
