.col-md-12.shout
  .col-md-1
    img.img-responsive.display-image(src="http://placehold.it/60x60")
  .col-md-11
    span.fullname
      = fullname
      &nbsp
    span.username @
     = username
     &nbsp;
    span.separator -
     &nbsp;
    span.date-posted May 5
    span.pull-right.edit.action
      i.fa.fa-pencil
    span.pull-right.dismiss.action
      &times
    p.shout-body
      = body
