.col-md-12.shout
  .col-md-1
    img.img-responsive.display-image(src="http://placehold.it/60x60")
  .col-md-11
    span.fullname gerard arguelles 
    span.username @gerardarguelles
    &nbsp;
    span.separator -
    &nbsp;
    span.date-posted May 5
    p.shout-body This is my Shout
