.index

  .shoutbux-profile
    .display-image
      border-radius: 50%

    .user-info
      padding-top: 24px

    .stats
      margin-top: 15px

      .stat, .value
        display: block

  .timeline
    .shout
      padding: 4px
      border-bottom: 1px solid #e1e8ed
      margin-top: 10px

    span.username
      color: #292f33
      font-weight: bold
