.index.row
  .profile__region
  
  .timeline__region
  //- .col-md-9.timeline
  //-   .col-md-12.shout
  //-     .col-md-1
  //-       img.img-responsive.display-image(src="http://placehold.it/60x60")
  //-     .col-md-11
  //-       span.username gerardarguelles
  //-       p.shout-body This is my Shout
  //-   .col-md-12.shout
  //-     .col-md-1
  //-       img.img-responsive.display-image(src="http://placehold.it/60x60")
  //-     .col-md-11
  //-       span.username gerardarguelles
  //-       p.shout-body This is my Shout
  
