.col-md-12.flashes
  .alert.alert-danger.hidden(role='alert')
    | Something went wrong!
.col-md-12
  textarea.form-control.shout(placeholder="What\'s on your mind")
  span.pull-right.remaining-characters
    = remainingCharacters
.col-md-12
  button.btn.btn-default.pull-right.post-shout Shout
